$primary-base: #ff4a00;
$primary-lighter: #fef3eb;
$secondary-base: #002d2b;

$bg-weak-100: #f6f8fa;
$bg-white-0: #ffffff;

$state-away: #f2ae40;
$state-verified: #35b9e9;
$state-feature: #6e3ff3;
$state-error: #df1c41;

$stroke-soft-200: #e2e4e9;

$text-main-900: #0a0d14;
$text-sub-500: #525866;
$text-soft-400: #868c98;
